.App {
  text-align: center;
}

.header {
  position: absolute;
  background-color: rgba(4, 51, 114, 0.623);
}
.face-image {
  height: 100vh; /* Высота блока */
  background:linear-gradient( rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6) ), url(components/Body/img/drink.jpg) 100% 100% no-repeat fixed; /* Добавляем фон */
  background-size: cover; /* Масштабируем фон */
}

.list-cards {
  height: 100vh;
  background-color: #e8eaf6;
}

.Base-text {
  font-family: 'Lobster', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.Base-button {
  height: 3em;
  background-color: #ffffff00;
  border-color: none;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1em;
  color: white;
  text-decoration: none;

  outline: none;

  text-transform: uppercase;
}

.Base-button:hover {
  background: rgba(3, 26, 75, 0.308);
  border-color: #ffffffc9;
  transform: scale(1.05);
}

.Base-button:active {
  background: rgba(3, 26, 75, 0.308);
  border-color: #ffffffc9;
  transform: scale(1);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
